@model MiniShopMVC.Models.ContactViewModel
@{
    ViewData["Title"] = "Our Contact Information";
}
<h1>@ViewData["Title"]</h1>

<p>You can reach us through the following methods:</p>
<ul>
    <li>Email: @Model.Email</li>
    <li>Phone: @Model.Phone</li>
    <li>Address: @Model.Address</li>
</ul>